<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlAlumno</servlet-name>
        <servlet-class>controlador.ControlAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCurso</servlet-name>
        <servlet-class>controlador.ControlCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlProfesor</servlet-name>
        <servlet-class>controlador.ControlProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlSeccion</servlet-name>
        <servlet-class>controlador.ControlSeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCarrito</servlet-name>
        <servlet-class>controlador.ControlCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>controlador.ControlLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlAlumno</servlet-name>
        <url-pattern>/ControlAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCurso</servlet-name>
        <url-pattern>/ControlCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlProfesor</servlet-name>
        <url-pattern>/ControlProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlSeccion</servlet-name>
        <url-pattern>/ControlSeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCarrito</servlet-name>
        <url-pattern>/ControlCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
